.grid{
display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, auto);   /* 2 rows */
  gap: 1rem;                              /* spacing between items */
  padding: 1rem;
  
  gap: 20px;
}